.playfair-display-normal {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Style Reset*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*Variables*/
:root {
    --book-outer-border-radius: 5px;
    --book-border-width: 10px;

    --book-cover-darker-color: #727e7a;
    --book-cover-color: #8fa098;

    --input-border-color: #383838;
    --select-bg-changed-color: #a5b8af;
    --select-text-color: #161f1b;
}

body {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.invalid {
    border: 2px red solid;
}

/*flex layout for header*/
.header {
    display: flex;
    gap: 15px;
}

/*Sort & Filter buttons*/
.header select{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 150px;
    height: 2rem;
    font-size: 1rem;
    letter-spacing: 0.5px;
    border: 1px solid var(--input-border-color); 
    border-radius: 16px;
    text-align: center;
    color: var(--input-border-color);
    background-color: #ffffff;

    &:hover,
    &:focus {
        color: #000000;
        background-color: #d4d4d477;
    }

    &:active {
        border-bottom-color: transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    & option {
        background-color: #fff;
        color: rgb(0, 0, 0);
    }
}

.header label.changed select { 
    background-color: var(--select-bg-changed-color);
    border-color: var(--select-bg-changed-color);
    color: var(--select-text-color);
    font-weight: 500;
}

.header label[for="sort"] {
    position: relative;
}

label[for="sort"]::before {
    position: absolute;
    top: 7px;
    left: 16px;
    background-image: url(./img/sort-icon.svg);
    background-size: cover;
    content: "";
    width: 1.1rem;
    height: 1.1rem;
}

label[for="sort"].changed::before {
    background-image: url(./img/sort-changed-icon.svg);
}

select#sort {
    padding-left: 16px;
}

/*Reset button of sort & filter*/
.header > .reset-settings {
    width: 2rem;
    height: 2rem;
    background-image: url(./img/reset-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: 1px solid var(--input-border-color);
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
}

/*Card Container*/
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-content: space-between;
    gap: 20px;

    width: 80%;
    min-width: 500px;
}

/*Card book cover*/
.card {
    position: relative;

    max-width: 270px;
    height: 350px;

    border-radius: var(--book-outer-border-radius);
    border:solid var(--book-border-width) transparent;
    background-color: var(--book-cover-darker-color);

    color: #fff;

    background-image: url(./img/book_texture.jpg);
    background-size: contain;
    background-blend-mode: multiply;
    box-shadow: 0px 0px 5px 2px #000000;
}

.card > .book-info {
    height: 85%;
    background-color: var(--book-cover-color);
    border: 4px solid #727e7a86;
    border-radius: calc(var(--book-border-width) - var(--book-outer-border-radius));
    padding: 8px;

    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    background-image: url(./img/book_texture.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.book-info .card-title {
    margin-top: 60px;
    font-weight: 600;
    letter-spacing: 2px;
}

.book-info p {
    font-weight: 400;
}

.book-info p.card-pages {
    margin-top: auto;
    font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.card select {
    appearance: none;
    -webkit-appearance: none;

    width: 110px;
    height: 1.8rem;

    display: block;
    margin-inline: auto;
    margin-top: 15px;

    border: 1px solid #fff;
    border-radius: 16px;
    outline: none;
    padding: 3px;

    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    background-color: #ffffff1f;

    &:hover {
        background-color: #00000050;
    }

    &:active {
        border-bottom-color: transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

    }

    & > option {
        background-color: #fff;
        color: #000;
    }
}

.card button {
    position: absolute;
    
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;

    background-color: #ffffff75;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transition: transform 0.05s linear;
    display: none;

    &:hover {
        transform: scale(1.2);
    }
}

.card:hover button {
    opacity: 1;
    display: block;
}

.card .delete-btn {
    top: 5px;
    left: 5px;

    background-image: url(./img/delete-icon.svg);  
    background-color: #af52527c;
}

.card .edit-btn {
    top: 5px;
    right: 5px;

    background-image: url(./img/edit-icon.svg);
}


dialog.book-modal,
dialog.edit-modal {
    /*Center modal in screen*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px  #00000098;
    padding: 30px;

    & > h1 {
        color: #000000;
    }
}

.book-modal .form-row,
.edit-modal .form-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 90px 200px;
    justify-content: center;
    align-items: center;

    grid-gap: 10px;

    margin-top: 1.6rem;
}

.form-row label {
    text-align: right;
}

dialog input,
dialog select,
dialog button {
    font-family: Roboto, system-ui, -apple-system, 'Segoe UI', 'Helvetica Neue', sans-serif;

    height: 2.2rem;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 5px;

    border: 1px solid var(--input-border-color);
}

.book-modal button,
.edit-modal button {
    height: 2.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    background-color: #4c3bad;
    border: 3px solid transparent;

    &:hover {
        border-color: #7f70dd;
        background-color: #4c3bad;
        transform: scale(1.05);
    }
}

.book-modal button.cancel,
.edit-modal button.edit-cancel {
    background-color: #a84a4a;

    &:hover {
        border-color: #e27777;
        background-color: #5c3232;
        transform: scale(1.05);
    }
}



